body {
    font-family: proxima-nova,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
}

.page {
    height: 100vh;
    display: flex;
}
.page .page-side {
    flex-grow: 1;
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    align-content: center;
}
.page .page-side.page-side-scrollable {
    overflow-y: scroll;
}
.page .page-side.page-side-imprint {
    flex-grow: 1;
    background: url('./img/imprint.jpg');
    background-size: cover;
    align-items: center;
    align-content: center;
}
.page .page-side .page-padding {
    padding: 48px;
}

.text-bold {
    font-weight: 700;
}

@media(max-width: 768px) {
    .page {
        height: auto;
        display: block;
    }

    .page .page-side {
        flex-grow: unset;
        width: auto;
        height: auto;
        display: block;
    }
}